:root {
  --primary-theme-color: #b5b4ff;
  --secondary-theme-color: #9d9de6;
  --tertiary-theme-color: #8586cd;
  --quaternary-theme-color: #6c6fb3;
  --quinary-theme-color: #54589a;

  --font-family: 'Nunito';

  --muted-color: #6c757d;
  --primary-color: #007bff;
  --info-color: #17a2b8;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}
